<div class="form-group" [class.has-error]="ngFormControl && !ngFormControl.valid && ngFormControl.touched">
    <input
            #queryInput
            (keyup)="onQueryChange(queryInput.value)"
            (focus)="onFocused()"
            (blur)="onBlurred()"
            placeholder="{{ placeholder }}"
            class="form-control"
            value="{{ query }}"
    />

    <span class="highlight"></span><span class="bar"></span>

    <ul *ngIf="!loading && !suggestionsHidden" (mouseleave)="onSuggestionsMouseLeave()">
        <li *ngFor="let option of options">
            {{ option.label }}
            <a *ngIf="!isSelected(option)" href="#" (click)="selectOption(option)">{{ 'autocomplete.select_option' }}</a>
        </li>
    </ul>

    <div *ngIf="loading">Loading ...</div>

</div>