<div class="form-group" [class.has-error]="ngFormControl && !ngFormControl.valid && ngFormControl.touched">

    <a *ngIf="!preview && image" tsColorbox [href]="image.links.render"><span class="glyphicon glyphicon-eye-open"></span></a>

    <div *ngIf="preview" ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
     >
        <img *ngIf="!image" width="100" height="80" [src]="placeholderUrl">

        <a *ngIf="image" tsColorbox [href]="image.links.render">
            <img [src]="image.links.render|tsImageFilter: filter">
        </a>
    </div>

    <a href="javascript:;" *ngIf="image" (click)="removeItem()" >
        <span class="glyphicon glyphicon-remove"></span>
    </a>

    <div *ngFor="let item of uploader.queue">
        <div *ngIf="uploader.isHTML5" nowrap>0.00 MB</div>
        <div *ngIf="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
        </div>
    </div>

    <input *ngIf="!image" #uploadBtn type="file" ng2FileSelect [uploader]="uploader" />

    <span class="highlight"></span><span class="bar"></span>

    <ul *ngIf="error">
        <li>{{ error.message }}</li>
    </ul>
</div>

